.project > img {
    width: 250px;
    height: 180px;
    background: url();
}
.project {
    margin : 5px;
    width: 150;
    height: 180px;
    transition: transform 5000ms ease-in-out;
}
.project:hover {
    display: flex;
    align-items: center;
    background-color: red;
    color: white;
    justify-content: center;

}
.project__content {
    padding: 10px;
}
.project__content > h3 {
    padding-bottom: 5px;
        
}
.project__content > p {
    font-size: 20px;
}
 @media screen and (max-width : 768px) {
    .project {
        display: flex;
        justify-content: center;

    }
 }